:root{
    --primary-text-color:#757575;
    --tittle-text-color:#212121;
    --accent-color:#2196F3;
}

body{
background-color: #ffffff;
font-family: "Roboto",sans-serif;
}
header {
    background-color: #ffffff;
}
.logo-word{
   font-family: 'Raleway',sans-serif;
    color:var(--accent-color)

}

.logo-link{
    font-family: 'Raleway',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #000000;
        letter-spacing: 0.03em;
        text-decoration: none;
}


.site-nav{
    list-style-type: none;
}
.site-nav .link.current {
    color: var(--accent-color);
}

.link {
    color:var(--tittle-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.link:hover,
.link:active{
color: var(--accent-color);
}


.site-nav2{
    list-style-type: none;

}
.link2{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-decoration: none;
}
.link2:hover,
.link2:focus{
    color: var(--accent-color);
}

.hero{
    background-color: #2F303A;
    
}
.herotittle{
    font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        color: #ffffff;
        text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            
}
.herobutton{
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #FFFFFF;
}
.herobutton:hover,
.herobutton:focus
{
    
   background-color: #188CE8;
}

